:root {
  --color-primary: #27ae60;
  --color-secundary: #eb5757;

  --gray100: rgb(51, 51, 51);
  --gray200: rgb(130, 130, 130);
  --gray300: rgb(224, 224, 224);
  --gray400: rgb(245, 245, 245);
  --gray-backdrop: rgba(0, 0, 0, 0.25);

  --gray-btn: rgba(189, 189, 189, 1);
  --white-btn: #ffffff;

  --font-primary: "Inter", sans-serif;
}
